.item {
    display: flex;
    align-items: center;
    height: 50px;
    color: #2A5885;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 5px;
}

.item:hover {
    background-color: #DFE6ED;
}

.item:last-of-type {
    margin-bottom: 0;
}

.item img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-right: 15px;
}

.item.active {
    background-color: #DFE6ED;
}