* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #edeef0;
}

.wrapper {
  width: 90%;
  max-width: 990px;
  margin: 0 auto;
  padding: 0 15px;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.main {
  width: 795px;
  padding-top: 15px;
}