.newPost {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 15px
}

.newPost span {
    display: block;
    font-size: 13px;
}

.input {
    font-family: 'Roboto', sans-serif;
    /*color: rgba(0, 0, 0, .5);*/
    font-size: 13px;
    border: none;
    border-radius: 4px;
    vertical-align: top;
    overflow: hidden;
    width: 100%;
    min-height: 52px;
    max-height: none;
    line-height: 1.462;
    resize: none;
    padding: 10px;
    margin-right: 10px;
}

/*.input:focus {*/
/*    color: #000;*/
/*    min-height: 80px;*/
/*    max-height: none;*/
/*}*/

.button {
    color: #fff;
    background-color: #4A76A8;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 13px;
    outline: none;
}

.button:hover {
    cursor: pointer;
    opacity: .88;
}