.header {
  display: flex;
  align-items: center;
  height: 42px;
  color: #fff;
  background-color: #4A76A8;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 990px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  width: 35px;
  border-radius: 50%;
}

.login {
  font-size: 12px;
}