.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: #5181b8;
  border-radius: 10px;
  overflow: hidden;
  padding: 5px 15px;
  margin-bottom: 15px;
}

.logo {
  width: 50px;
  border-radius: 50%;
}

.login {
  font-size: 18px;
}