.dialogsWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dialogs {
    width: 230px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 4px;
}

.messages {
    width: 550px;
    background-color: #fff;
    border-radius: 4px;
    height: 100%;
    padding: 15px 30px;
}